body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

main {
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.bottom-section a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.home-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("https://clipart-library.com/2023/59-591140_address-symbol-house-icon.png");
    background-size: cover;
    margin-right: 5px;
}

.jobs-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("https://cdn.iconscout.com/icon/premium/png-512-thumb/briefcase-work-office-suitcase-single-lock-business-go-61076.png");
    background-size: cover;
    margin-right: 5px;
}

.achievements-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("https://banner2.cleanpng.com/20180616/ozu/kisspng-award-ribbon-gold-medal-prize-leader-board-5b24c6d8b388a0.4265345415291368567354.jpg");
    background-size: cover;
    margin-right: 5px;
}

.profile-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("https://www.pngkit.com/png/detail/429-4297972_search-log-in-to-your-teach-california-account.png");
    background-size: cover;
    margin-right: 5px;
}
